.autocomplete {
  width: 50%;
}

.map {
  width: 50%;
  height: 300px;
  border-radius: 15px;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .map {
    width: 100%;
  }
  .autocomplete {
    width: 100%;
  }
}
