.card {
  height: 28vh;
  min-height: 250px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #333333;
}

.title {
  text-decoration: none;
  color: rgb(177, 177, 177);
  font-weight: 400;
  transition: text-shadow 250ms;
}

.title:hover {
  color: black;
}

.yourSession {
  background-color: rgb(71, 71, 71) !important;
}

.deleteSession {
  background-color: rgb(141, 0, 0) !important;
}

.saveSession {
  background-color: rgb(0, 0, 139);
}

.rolebadge {
  background-color: rgb(0, 78, 78) !important;
}

.genrebadge {
  background-color: rgb(0, 52, 100) !important;
}

.distancebadge {
  background-color: rgb(64, 74, 83) !important;
}

.datebadge {
  background-color: rgb(54, 1, 1) !important;
}
